body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sidebar {
  width: 50px;
  height: 50px;
  background-color: #2c3e50;
  color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  top: 20px;
  left: 20px;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);


}

.sidebar.active {
    transform: translateX(0);
    margin-left: 0;
    width: 250px;
    height: 100vh;
    border-radius: 0;
}

.sidebar.active ~ .container {
    margin-left: 250px;
    transition: all 0.3s ease;
    width: calc(100% - 250px);
}

.toggle-sidebar {
        position: fixed;
        top: 20px;
        left: 20px; /* Sobrepõe ao quadradinho */
        background: transparent;
        color: #ffffff;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 1.2em;
        z-index: 1100;
        display: flex;
        align-items: center;
        justify-content: center;
}


.sidebar.active + .toggle-sidebar {
    display: none;
}

.sidebar-title {
    font-size: 1.5em;
    text-align: center;
    padding: 15px 0;
    margin: 20px 0 ;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translateX(-100%);
}

.sidebar.active .sidebar-title, .sidebar.active .sidebar-menu {
    opacity: 1;
    transform: translateX(0); /* Volta ao lugar */
}

.sidebar.active .sidebar-title {
    opacity: 1;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateX(-100%);
}

.menu-item > a {
    display: block;
    padding:  15px ;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.sidebar.active .menu-item a {
    opacity: 1;
}

.menu-item > a:hover {
    background-color: #34495e;
}

.container {
    margin-left: 60px;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    width: calc(100% - 60px);
    transition: margin-left 0.3s ease;
}

h2 {
    color: #333333;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: justify;
}

label {
    color: #555555 ;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 15px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    
}

button:hover{
    background-color: #429646;
    
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

textarea {
    resize: none;
    height: 100px;
}